doctype html
html(lang='en')
    head
        //favicon
        //- link(rel='icon' href='/images/logo_black.png' type="image/png")
        //- google font set up
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet")        
        //bootstrap font setup
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")

        //google auth setup
        script(async, defer,src="https://apis.google.com/js/platform.js")

        //jquery setup
        script(src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous")
        
        //custom stylesheet
        link(rel='stylesheet', href='/stylesheets/about.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/color.css')

        //custom javascript
        script(src='/javascripts/about.js')
        
        //bootstrap cdn
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous")
        
        //meta tag
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name='google-signin-client_id', content='1030812775063-voaa2nmetvaq5bgs4g9ln6ntmmls9t13.apps.googleusercontent.com')
    body(onload="ourTypeWriter()")
        include common/nav.pug
        .container-fluid(style="margin-top: 50px;")
            .row.hero-row
                .col-md-2
                .col-md-4
                    img.hero(src="/images/hero/pepper.jpg")
                .col-md-4.hero-title
                    h1#our
                    h1#story
        row
            .col-md-3
            .col-md-6(style="margin-bottom: 150px;")
                h1.about-title About
                .card
                    .card-body
                        p Upon encountering the farm of Xin-Yian, a subsistence farmer in Yilan, Taiwan, he passionately introduced us to his place. 
                        p “We farm just for ourselves, therefore we don’t use any kind of pesticides or chemicals that might harm the planet.” - He repeated the concept while touring us around. 
                        p When we ate in the local restaurant, we were amazed by the organic taste of the fresh vegetables. However, the price of these vegetables are very low in comparison to the cost of organic vegetables in Taipei, despite only being an hour's drive away. 
                        p After further investigation, we discovered that most of those farmers only planted one or two types of vegetables. This makes them extremely uncompetitive to wholesalers, who would make a huge profit off them.
                        p Why couldn’t they directly sell their produce to the customers? The amount of each farmer's output isn’t high enough to compensate for transportation costs. 
                        p Our solution is to unify all the small local farmers in the area to a single farm union. The farmers could upload their produce to the website. So the customers would be able to choose from dozens of farmers in a single area. As each farmer wouldn’t have to ship individually, the shipping cost would be driven down. Without the wholesaler, customers would be enjoying lower prices for better quality.
                        p Subsistence farmer assistant makes fair agricultural trading easier!
                        //- img.card-img-top(src="/images/post-preview-images/ginger.jpg" alt="Card image cap")
            .col-md-3
