doctype html
html(lang='en')
    head
        //favicon
        //- link(rel='icon' href='/images/logo_black.png' type="image/png")
        
        //-bootstrap font setup
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        
        //-jquery setup
        script(src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous")
        
        //-custom stylesheet
        
        //-custom javascript
        
        //-bootstrap cdn
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous")
        
        //-meta tag
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        //-css
        link(rel="stylesheet" href="stylesheets/enterData.css")
        link(rel='stylesheet', href='/stylesheets/color.css')

        //-javascript
        script(src="javascripts/enterData.js")

    body
        .coverHero
        .container.main
            .row
                .col.md-12.title Upload Your Produce!
                .col-md-12.body-container
                    form(id="info" action="/submit" method="post")
                        .input-title Produce Name
                        input.data-input(type='text' name="produceName" placeholder='Enter your produce name...')
                        .input-title Price
                        input.data-input(type='text' name="price" placeholder='Enter your produce price...')
                        .input-title Slogan
                        input.data-input(type='text' name="slogan" placeholder='Enter slogan for your produce...')
                        .input-title Discription
                        input.data-input(type='text' name="discription" placeholder='Discribe your produce...')
                        .input-title Recipes
                        input.data-input(type='text' name="recipes" placeholder='Any recommend recipes?')
                        input(type="submit" value="Submit")
                    .col-md-12.button-container
                        button.submit-button Submit!
                        

                    

    
