body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none !important;
}

.post {
    width: 100%;
}

.post-title {
    color: black;
}

.post-price {
    color: black;
    margin-bottom: 0px;
}

.post-preview {
    color: black;
}

.post-date {
    color: black;
}

.post-detail {
    color: black;
}

.card-img-top {
    width: 100%; /* width of container */
    height: auto; /* height of container */
    object-fit: cover;
    object-position: 20% 70%; /* try 20px 10px */
}
