.card {
    background-color: var(--nav-orange) !important;
    border: none !important;
}

.about-title {
    font-family: 'Grechen Fuemen', cursive;
    font-weight: 900;
    text-align: center;
    margin-bottom: 30px;
}

#our {
    margin-top: 80px;
}

.card-body p {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}
