.navbar {
    background-color: var(--nav-orange) !important;
    height: 10vh;
    flex-flow: row nowrap;
}

.nav-link {
    font-size: 20px;
    padding: 0px 18px!important;
}

.nav-right{
    margin-right: 15px;
}