body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none !important;
}

.hero {
    width: 100%;
    height: auto;
}

.hero-row {
    margin-bottom: 8vh;

}

.hero-title {
    margin-top: 120px;
    background-color: #DFEBFE;
}

.hero-row h1 {
    font-family: 'Grechen Fuemen', cursive;
    font-weight: 900;
}

#subsistence {
    margin-top: 80px;
}

.produce-title {
    font-family: 'Grechen Fuemen', cursive;
    font-weight: 900;
    text-align: center;
    margin-bottom: 30px;
}

.card {
    border: none !important;
    background-color: var(--nav-orange) !important;
}

.post {
    width: 100%;
}

.post-title {
    color: black;
}

.post-price {
    color: black;
    margin-bottom: 0px;
}

.post-detail {
    color: black;
}

.post-date {
    color: black;
}

.card-img-top {
    width: 100%; /* width of container */
    height: 150px; /* height of container */
    object-fit: cover;
    object-position: 20% 70%; /* try 20px 10px */
}
